---
const experiences = [
    {
        role: 'Programador Fullstack',
        company: 'Encode - Desenvolvimento de Sistemas',
        date: '11/2020 - 03/2023',
        description: 'Como programador Fullstack na Encode, meu desafio era criar novas soluções e manter sistemas de gestão dos mais variados tipos. Gestão de estoque, Chat de atendimento, Gestão imobiliária, entre outros. Cada sistema desse utiliza uma stack diferente então pude ter contato com várias tecnologias como: Javascript, Vuejs, Reactjs, PHP, Laravel, MySql e Node.',
        techs: ["HTML", "CSS", "JavaScript", "Vue", "Vuex", "Vuetify", "PHP", "Laravel", "MySql", "Nodejs"]
    },
    {
        role: 'Web Designer',
        company: 'CGDW - Marketing Digital',
        date: '02/2021 - 07/2021',
        description: 'Já, na CGDW eu comecei como suporte de sites em HTML, CSS, Javascript, PHP e sites em Wordpress também. Depois de um tempo migrei pra web design aí meu desafio mudou. Além do suporte aos sites, eu também os criava utilizando Adobe XD para a UI e Wordpress + Elementor.',
        techs: ["HTML", "CSS", "JavaScript", "Wordpress", "Elementor", "PHP", "MySql", "Adobe XD"]
    },
]
---

<article class="container experiences">
    {experiences.map(item => (
        <div class="card">
            <div class="card__border">
                <div class="card__header">
                    <h5 class="card__title">{item.role}</h5>
                    <span class="card__subtitle">{item.company}</span>
                    <span class="card__caption">{item.date}</span>
                </div>
                <div class="card__content">
                    <p class="card__text">{item.description}</p>
                </div>
                <div class="card__footer">
                    <h5 class="card__title">Competências</h5>
                    <ul class="card__list">
                        {item.techs.map(tech => (
                            <li class="list__item">{tech}</li>
                        ))}
                    </ul>
                </div>
            </div>
        </div>
    ))}
</article>